rawfiles/
.DS_Store
**/*.ipynb_checkpoints/
Semana 1/.ipynb_checkpoints/S1LAB1_construcción_calibracion_arboles-checkpoint.ipynb
Semana 1/.ipynb_checkpoints/S1LAB1_construcción_calibracion_arboles-checkpoint.ipynb
Semana 1/S1LAB1_construcción_calibracion_arboles.ipynb
